---
import LayoutPrincipal from '../../layouts/LayoutPrincipal.astro';
import BarraPreguntas from '../../Components/BarraPreguntas.astro';
import Grid from '../../Components/Grid.astro';
import BotonPrincipal from '../../Components/BotonPrincipal.astro';
import BotonSegundo from '../../Components/BotonSegundo.astro';

interface Alcance {
  idalcance: number;
  descripcion: string;
  aplica: boolean;
  idcategoriasalcance: number;
  categoria: string;
}

let alcances: Alcance[] = [];

try {
  const response = await fetch('http://localhost:4000/api/alcances');
  if (!response.ok) {
    throw new Error('La respuesta de la red no fue correcta');
  }
  alcances = await response.json();
} catch (error) {
  console.error('No se han podido recuperar los alcances:', error);
}

// Agrupar alcances por categoría
const groupedAlcances = alcances.reduce((acc, alcance) => {
  if (!acc[alcance.categoria]) {
    acc[alcance.categoria] = [];
  }
  acc[alcance.categoria].push(alcance);
  return acc;
}, {});
---
<LayoutPrincipal title="">
    <div class="flex justify-center min-h-screen">
        <div class="p-10 w-full max-w-7xl my-10">
            <div class="flex flex-col space-y-8">
                <div class="text-left mb-4">
                    <h1 class="font-josefin-slab text-2xl text-black">Por favor marque “SI” o “NO” en cada pregunta</h1>
                </div>

                <div class="flex justify-center">
                    <BarraPreguntas Text1="Alcance" Text2="Si" Text3="No" />
                </div>

                {Object.keys(groupedAlcances).map((categoria) => (
                    <>
                        <div class="text-2xl font-bold mb-2 pl-12">
                            {categoria}
                        </div>
                        {groupedAlcances[categoria].map((alcance, index) => (
                            <Grid 
                                Text1={`${index + 1}. ${alcance.descripcion}`}
                                id1={`termsCheckbox1-grid${alcance.idalcance}`}
                                id2={`termsCheckbox2-grid${alcance.idalcance}`}
                                name={`pregunta${alcance.idalcance}`}
                            />
                        ))}
                    </>
                ))}

                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
                    <a href="/Usuario/VistaObjetivos" class="">
                        <BotonPrincipal Text="Volver" />
                    </a>
                    <a href="/Usuario/VistaMisProyectos" class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
                        <BotonSegundo Text="Guardar" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</LayoutPrincipal>